Repository Excoriate/terragrunt-ref-arch-v2, changes with the labels that .github/labeler.yml gives for each.
All labels: root, documentation, infra/terragrunt, infra/terraform, tool/infractl, ci, dependencies, tests, maintenance

feat: Add support for Terraform module input overrides
  .gitignore
  infra/terragrunt/_ENVS/local.yaml
  tools/infractl/internal/cfg/constants.go
  tools/infractl/internal/cfg/schema.go
  tools/infractl/internal/transformers/environment.go
Labels: root, infra/terragrunt, tool/infractl, maintenance

feat: Simplify configuration aggregation by removing layer and stack inputs
  infra/terragrunt/stack-datastore/db/quota-generator/terragrunt.hcl
Labels: infra/terragrunt

feat: Improve Terragrunt configuration for the quota-generator component
  infra/terragrunt/_shared/_components/aws-dynamodb-table.hcl
  infra/terragrunt/_shared/_components/id-generator.hcl
  infra/terragrunt/_shared/_components/name-generator.hcl
  infra/terragrunt/stack-datastore/db/aws-dynamodb-table/.terraform-version
  infra/terragrunt/stack-datastore/db/aws-dynamodb-table/component.hcl
  infra/terragrunt/stack-datastore/db/aws-dynamodb-table/terragrunt.hcl
  infra/terragrunt/stack-datastore/db/dynamodb-table/component.hcl
  infra/terragrunt/stack-datastore/db/dynamodb-table/terragrunt.hcl
  infra/terragrunt/stack-datastore/db/id-generator/terragrunt.hcl
  infra/terragrunt/stack-datastore/db/name-generator/component.hcl
  infra/terragrunt/stack-datastore/db/quota-generator/component.hcl
  infra/terragrunt/stack-datastore/db/quota-generator/terragrunt.hcl
Labels: infra/terragrunt

feat: Improve documentation with new sections and examples
  docs/01-introduction.md
  docs/02-project-structure.md
  docs/03-configuration-system.md
  docs/04-infractl-cli.md
  docs/05-stack-management.md
  docs/06-configuration-compilation.md
  infra/terraform/aws-dynamodb-table/outputs.tf
  infra/terraform/id-generator/variables.tf
  infra/terragrunt/_ENVS/local.yaml
  infra/terragrunt/_shared/_components/aws-dynamodb-table.hcl
  infra/terragrunt/_shared/_components/id-generator.hcl
  infra/terragrunt/_shared/_components/name-generator.hcl
  justfile
Labels: root, documentation, infra/terragrunt, infra/terraform, ci, maintenance

feat: Improve stack management documentation
  README.md
  docs/01-introduction.md
  docs/02-project-structure.md
  docs/03-configuration-system.md
  docs/03-design-principles.md
  docs/04-configuration-system.md
  docs/04-infractl-cli.md
  docs/05-stack-management.md
  docs/06-configuration-compilation.md
  infra/terragrunt/_ENVS/local.yaml
Labels: root, documentation, infra/terragrunt

feat: Improve CLI tool with advanced configuration management
  tools/infractl/README.md
Labels: documentation

feat: Improve CLI tool with advanced configuration management (#3)
  tools/infractl/README.md
Labels: documentation

feat: Restructure documentation with new sections
  README.md
Labels: root, documentation

feat: Restructure documentation with new sections (#4)
  README.md
Labels: root, documentation

.github/labeler.yml:

---
# Root changes
root:
  - changed-files:
      - any-glob-to-any-file: '*'

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - 'docs/**/*'
          - '**/README.md'
          - '.AI/**/*'
          - '**/CONTRIBUTING.md'

# Terragrunt Infrastructure changes
infra/terragrunt:
  - changed-files:
      - any-glob-to-any-file:
          - 'infra/terragrunt/**/*.hcl'
          - 'infra/terragrunt/**/*.yaml'
          - 'infra/terragrunt/_*/**/*'

# Terraform Module changes
infra/terraform:
  - changed-files:
      - any-glob-to-any-file:
          - 'infra/terraform/**/*.tf'
          - 'infra/terraform/**/*.tfvars'

# CLI Tool changes
tool/infractl:
  - changed-files:
      - any-glob-to-any-file:
          - 'tools/infractl/**/*.go'
          - 'tools/infractl/go.mod'
          - 'tools/infractl/go.sum'

# CI/CD changes
ci:
  - changed-files:
      - any-glob-to-any-file:
          - '.github/**/*'
          - 'justfile'
          - 'Makefile'

# Dependency changes
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - '**/go.mod'
          - '**/go.sum'
          - 'release-please-config.json'

# Test changes
tests:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*_test.go'
          - 'tools/infractl/test/**/*'

# Configuration and tooling changes
maintenance:
  - changed-files:
      - any-glob-to-any-file:
          - '.gitignore'
          - '.editorconfig'
          - '.golangci.yml'
          - 'justfile'

# Branch-based labels
feature:
  - head-branch: ['^feature/', 'feature']

infrastructure:
  - head-branch: ['^infra/', 'infrastructure']

bug:
  - head-branch:
      - '^fix/'
      - '^bugfix/'
      - '^bug/'

breaking:
  - head-branch:
      - '^breaking/'
      - '^major/'

release:
  - base-branch: main
